p{
    font-family: sans-serif;
    color:rgb(0, 62, 90);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
body{
    background:url(https://postimg.cc/9D6mnP54?ssl=1);
}
div{
    color: transparent;
    text-align: center;
    margin: 10%;
}
h2{
    size: 25px;
    color: rgb(245, 255, 156);
}
button{
    align: center;
}
h1{
    size:35px;
    color:black;
}
